.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
  margin: 20px;
}

.App-header {
  background-color: #21205f;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: white;
}

.App-footer {
  background-color: #21205f;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: white;
}

.App-body {
  color: #21205f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.App-link {
  color: #4193ce;
}

.App-title {
  font-size: 30px;
}

nav.menu a {
  color: white;
  margin-right: 20px;
}

nav.menu li {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
